<style>


    .email-icon img {
        width: 100px;
        margin-bottom: 20px;
    }

    h1 {
        font-size: 24px;
        margin-bottom: 10px;
    }

    p {
        font-size: 16px;
        color: #555;
        margin-bottom: 20px;
    }

    .resend-link {
        text-decoration: none;
        color: #007bff;
        font-weight: bold;
        transition: color 0.3s ease;
    }

        .resend-link:hover {
            color: #0056b3;
        }

</style>
<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="email-icon">
                    <img src="https://static-00.iconduck.com/assets.00/email-icon-512x408-pcaze3fq.png" alt="Email Icon">
                </div>
                <h1>Check Your Inbox</h1>
                <p>We have sent a confirmation email to your inbox. Please check your email to confirm your account.</p>
            </div>
        </div>
    </div>
</div>