@model List<Category>
@{
    int count = 1;
}
<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Categories</h4>
            <p class="card-description">
                <a asp-action="Create" class="btn btn-success text-white">Create</a>
            </p>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>
                                #
                            </th>

                            <th>
                                Name
                            </th>
                            <th>
                                Actions
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Category category in Model)
                        {

                            <tr>
                                <td>
                                    @(count++)
                                </td>

                                <td class="py-1">
                                    @category.Name
                                </td>



                                <td>
                                    <a asp-action="Update" asp-route-id="@category.Id" class="btn btn-warning">
                                        Update
                                    </a>

                                    <a asp-action="Delete" asp-route-id="@category.Id" class="btn btn-danger">
                                        Delete
                                    </a>
                                </td>

                            </tr>
                        }

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>